# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/
*.log

# Environment variables
.env
.env.local

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

*.pdf
*.txt
__pycache__/
*.pyc

# Node / Mobile
node_modules/
.expo/
dist/
web-build/
